html {
    margin: 0 auto;
    max-width: 360px;
}

body {
    text-align: center;
    margin-top: 48px;
    margin-bottom: 24px;
    font-family: "Josefin Sans", "Arial", sans-serif;
    background: white;
}

h1,
p {
    color: #364652;
}

p {
    font-size: 14px;
}

/* body > main:nth-child(1) > figure:nth-child(5) > picture:nth-child(1) > img:nth-child(2) */
main>figure img {
    border-radius: 50%;
    height: auto;
    margin: 0 auto;
    width: 200px;
}

.profile-photo {
    border-radius: 100%;
    width: 120px;
}

ul {
    text-align: left;
    list-style: none;
    padding: 0;
    font-size: 22px;
}

li {
    margin: 12px auto;
    color: #364652;
    border-radius: 6px;
    padding: 4px;
    max-width: 360px;
    width: 90%;
}

li a {
    text-decoration: none;
    display: inline-block;
    position: relative;
    left: 25%;
}

li figure {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(25%);
    margin: 0 10px 10px 10px;
}

li a:hover,
li a:focus {
    color: white;
}

/* color gradient */
li:nth-child(1),li:nth-child(5),li:nth-child(9) {
    background: #B9D2DF;
}

li:nth-child(2),li:nth-child(6),li:nth-child(10) {
    background: #9CC0D3;
}

li:nth-child(3),li:nth-child(7),li:nth-child(11) {
    background: #659BB8;
}

li:nth-child(4),li:nth-child(8),li:nth-child(12) {
    background: #4D88A8;
}
